@model IEnumerable<DragonNews.Web.Models.NewsViewModel>

@{
    ViewBag.Title = "MyNews";
}

<h2>My News</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>

 Page Size:
<nav>
    <ul class="pagination">
        <li><a href="/News/MyNews?userID=@UserSession.CurrentUser.ID&pageSize=5">5</a></li>
        <li><a href="/News/MyNews?userID=@UserSession.CurrentUser.ID&pageSize=10">10</a></li>
        <li><a href="/News/MyNews?userID=@UserSession.CurrentUser.ID&pageSize=20">20</a></li>
        <li><a href="/News/MyNews?userID=@UserSession.CurrentUser.ID&pageSize=50">50</a></li>
        <li><a href="/News/MyNews?userID=@UserSession.CurrentUser.ID&pageSize=100">100</a></li>
    </ul>
</nav>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{var category = (DragonNews.News.NewsCategory)item.Category;}
                @category
            </td>
            <td>                
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @try
                {
                     @item.Details.Substring(0, 150) <span>...</span>
                }
                catch(Exception ex)
                {
                    @item.Details
                }                
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "News", new { id = item.Id }, null) |
                @Html.ActionLink("Details", "Details", "Home", new { id = item.Id }, new { target = "_blank" }) |
                @Html.ActionLink("Delete", "Delete", "News", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>
Page Number:
<nav>
    <ul class="pagination">
        @for (int i = 1; i <= Convert.ToInt32(ViewData["PageCount"]); i++)
        {
            <li><a href="/News/MyNews?userID=@UserSession.CurrentUser.ID&pageSize=@ViewData["PageSize"]&pagenumber=@i">@i</a></li>
        }
    </ul>
</nav>
