@model DragonNews.Web.Models.NewsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>News > Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @{var category = (DragonNews.News.NewsCategory)Model.Category;}
            @category
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate) UTC
        </dd>



    </dl>
</div>
<p>
    @if (UserSession.CurrentUser != null)
    {
        @Html.ActionLink("Back to List", "MyNews", "News", new { userID = UserSession.CurrentUser.ID }, null)
    }
    else
    {
        @Html.ActionLink("Back to List", "Index", "Home")
    }
</p>
