@model List<DragonNews.Web.Models.NewsViewModel>

@{
    ViewBag.Title = "Index";
}


<h2>Home</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        Get Cetagorised RSS Feed:
        @Html.DropDownList("RSS", Enum.GetValues(typeof(DragonNews.News.NewsCategory)).Cast<DragonNews.News.NewsCategory>().Select(x => new SelectListItem { Text = x.ToString(), Value = ((int)x).ToString() }))<br />
        <a href="javascript:void(0)" id="GetRSSFeed" class="btn btn-info btn-sm">Get RSS Feed</a><br />
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        Get Cetagorised Rest Feed:
        @Html.DropDownList("REST", Enum.GetValues(typeof(DragonNews.News.NewsCategory)).Cast<DragonNews.News.NewsCategory>().Select(x => new SelectListItem { Text = x.ToString(), Value = ((int)x).ToString() }))<br />
        <a href="javascript:void(0)" id="GetRestFeed" class="btn btn-info btn-sm">Get REST Feed</a><br />
    </div>
</div>
<hr />

 Page Size:
<nav>   
    <ul class="pagination">
        <li><a href="/Home/Index?pageSize=5">5</a></li>
        <li><a href="/Home/Index?pageSize=10">10</a></li>
        <li><a href="/Home/Index?pageSize=20">20</a></li>
        <li><a href="/Home/Index?pageSize=50">50</a></li>
        <li><a href="/Home/Index?pageSize=100">100</a></li>
    </ul>
</nav>
<table class="table">
    <tr>
        <th>
            Category
        </th>
        <th>
            Title
        </th>
        <th>
            Details
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{var category = (DragonNews.News.NewsCategory)item.Category;}
                @category
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
               @try
               {
                @item.Details.Substring(0, 150) <span>...</span>
               }
               catch (Exception ex)
               {
                @item.Details
               }            
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Home", new { id = item.Id }, new { target="_blank"})
            </td>
        </tr>
    }

</table>
Page Number:
<nav>    
    <ul class="pagination">
        @for (int i = 1; i <= Convert.ToInt32(ViewData["PageCount"]); i++)
        {
            <li><a href="/Home/Index?pageSize=@ViewData["PageSize"]&pagenumber=@i">@i</a></li>
        }
    </ul>
</nav>

@section Scripts {
    <script>
        $('#GetRSSFeed').on('click', function () {
            var dropdownText = $("#RSS option:selected").text();
            var url = 'http://localhost:54249/news/rss?category=' + dropdownText;
            window.open(url, '_blank');
        });
    </script>
<script>
    $('#GetRestFeed').on('click', function () {
        var dropdownText = $("#REST option:selected").text();
        var url = 'http://localhost:54249/news/rest/category/' + dropdownText;
        window.open(url, '_blank');
    });
</script>

}
